
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}


body {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background: url('https://img1.fonwall.ru/o/gl/rick-morty-freen.jpg') no-repeat center -100px;
  background-size: 1920px auto;
  background-attachment: fixed;
  color: #fff;
}

ul {
  list-style-type: none;
}
